.venv/
.export-venv/
__pycache__/
*.pyc
*.cache
.DS_Store
Thumbs.db
artifacts/
runs/
maixcam_conversion/images/
maixcam_conversion/model.onnx
maixcam_conversion/export.onnx
maixcam_conversion/tmp_extract.onnx
maixcam_conversion/test.jpg
maixcam_conversion/*.mlir
maixcam_conversion/*.npz
maixcam_conversion/*.prototxt
maixcam_conversion/*layer_group*.json
maixcam_conversion/*_weight_map.csv
